<template>
  <div class="submit-form">
    <h1>New Reservation</h1>
    <div v-if="!submitted">
      <div class="form-group">
        <label for="title">Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          v-model="reservation.name"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          v-model="reservation.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="room">Room</label>
        
        <select v-model="room_selected">
          <option v-for="option in rooms" v-bind:value ="option.id" v-bind:key="option.id">
            {{ option.number }} - {{ option.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="start">Start Date</label>
        <input
          class="form-control"
          id="start"
          required
          v-model="reservation.start"
          name="start"
          type="date"
        />
      </div>

      <div class="form-group">
        <label for="start">End Date</label>
        <input
          class="form-control"
          id="end"
          required
          v-model="reservation.end"
          name="end"
          type="date"
        />
      </div>

      <div class="form-group">
        <label for="catering">Catering</label>
        <input
          class="form-control"
          id="catering"
          required
          v-model="catering"
          name="catering"
          type="checkbox"
        />
      </div>

      <button @click="saveTutorial" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newTutorial">Add</button>
    </div>
  </div>
</template>

<script>
import ReservationDataService from "../../services/ReservationDataService";
import RoomDataService from "../../services/RoomDataService";

export default {
  name: "add-tutorial",
  created(){
     RoomDataService.getAvailable().then(res=> this.rooms = res.data)
  },
  data() {
    return {
      reservation: {
        id: null,
        name: "",
        description: "",
        start: "",
        end: "",        
      },
      rooms:[],
      room_selected:'',
      catering: false,
      submitted: false
    };
  },
  methods: {
    saveTutorial() {
      var data = {
        name: this.reservation.name,
        description: this.reservation.description,
        room: this.room_selected,
        start: this.reservation.start,
        end: this.reservation.end,
        catering: this.catering
      };

      ReservationDataService.create(data)
        .then(response => {
          this.reservation.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newTutorial() {
      this.submitted = false;
      this.reservation = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 500px;
  margin: auto;
}
</style>
