<template>
  <div v-if="currentReservation" class="edit-form">
    <h4>Reservation</h4>
    <form>
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="name"
          v-model="currentReservation.name"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
          v-model="currentReservation.description"
        />
      </div>

      <div class="form-group">
        <label for="room">Room</label>
        
        <select v-model="room_selected">
          <option v-for="option in rooms" v-bind:value ="option.id" v-bind:key="option.id">
            {{ option.number }} - {{ option.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="start">Start Date</label>
        <input
          class="form-control"
          id="start"
          required
          v-model="currentReservation.start"
          name="start"
          type="date"
        />
      </div>

      <div class="form-group">
        <label for="start">End Date</label>
        <input
          class="form-control"
          id="end"
          required
          v-model="currentReservation.end"
          name="end"
          type="date"
        />
      </div>

      <div class="form-group">
        <label for="catering">Catering</label>
        <input
          class="form-control"
          id="catering"
          required
          v-model="currentReservation.catering"
          name="catering"
          type="checkbox"
        />
      </div>

    </form>

    
    <button class="badge badge-danger mr-2"
      @click="deleteReservation"
    >
      Delete
    </button>

    <button type="submit" class="badge badge-success"
      @click="updateReservation"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div v-else>
    <br />
    <p>Please click on a Reservation...</p>
  </div>
</template>

<script>
import ReservationDataService from "../../services/ReservationDataService";
import RoomDataService from "../../services/RoomDataService";

export default {
  name: "reservation",
  data() {
    return {
      currentReservation: null,
      message: '',
      rooms:[],
      room_selected:'',
    };
  },
  methods: {
    getReservation(id) {
      ReservationDataService.get(id)
        .then(response => {
          this.currentReservation = response.data;
          this.room_selected = response.data.room,
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateReservation() {
      this.currentReservation.room = this.room_selected
      ReservationDataService.update(this.currentReservation.id, this.currentReservation)
        .then(response => {
          console.log(response.data);
          this.message = 'The reservation was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteReservation() {
      ReservationDataService.delete(this.currentReservation.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "reservations" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getReservation(this.$route.params.id);
    RoomDataService.getAll().then(res=> this.rooms = res.data.filter(r=>r.reserved == false || r.id == this.currentReservation.room))
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
