<template>
  <div>
  <div class="list row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Reservations List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(reservation, index) in reservations"
          :key="index"
          @click="setActiveReservation(reservation, index)"
        >
          {{ reservation.name }}
        </li>
      </ul>

      <a href="/addReservation" class="btn btn-sm btn-info">Add new</a>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAllReservations">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div v-if="currentReservation">
        <h4>Reservation</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentReservation.name }}
        </div>
        <div>
          <label><strong>Description:</strong></label> {{ currentReservation.description }}
        </div>
        <div>
          <label><strong>Room:</strong></label> {{ currentReservation.room }}
        </div>
        <div>
          <label><strong>Start:</strong></label> {{ currentReservation.start }}
        </div>
        <div>
          <label><strong>End:</strong></label> {{ currentReservation.end }}
        </div>
        <div>
          <label><strong>Catering:</strong></label> {{ currentReservation.catering ? "Yes" : "No" }}
        </div>

        <router-link :to="'/reservations/' + currentReservation.id" class="btn btn-warning btn-sm">Edit</router-link>
      </div>
      <div v-else>
        <br />
        <h5>Please click on a Reservation...</h5>
      </div>
    </div>    
  </div>
  <div class="list row pt-4">
      <h4>Rooms Status:</h4>
  </div>

  <div class="list row">
    <div v-for="room in rooms" :key="room.id" class="card text-white">
        <img class="card-img-top w-100" src="https://via.placeholder.com/100/eeeeee" style=" height: 75px; width: 75px;" alt="Card image cap">
        <div class="card-body" :class="[room.reserved ? 'bg-danger': 'bg-success']">
          <h5 class="card-title">{{room.number}} - {{room.name}}</h5> 
          <h6 class="text-small" v-if="room.reserved">No Disponible</h6>         
        </div>
      </div>
  </div>

  </div>
</template>

<script>
import ReservationDataService from "../../services/ReservationDataService";
import RoomDataService from "../../services/RoomDataService";
import moment from "moment"

export default {
  name: "reservations-list",
  data() {
    return {
      reservations: [],
      currentReservation: null,
      currentIndex: -1,
      title: "",
      rooms:[]
    };
  },
  methods: {
    getNotifications(){
      this.reservations.forEach(res=>{
        // let today = moment();
        // let end = moment(res.end)
        if(res.end){
          this.$notify({
            title: `<h5>${res.name}</h5>`,
            text: 'Esta por terminar su <b>tiempo</b>',
            duration: 5000,
            type: 'warn',
            });
        }        
      })

      if(this.reservations.length == 0){
          this.$notify({
              title: `<h5>Comienze a reservar</h5>`,
              text: 'Mire todas nuestras <b>opciones</b>',
              duration: 5000,
              type: 'success  ',
            });
        }
      
      console.log('reservations')
      console.log(this.reservations)
    },
    retrieveReservations() {
      ReservationDataService.getAll()
        .then(response => {
          this.reservations = response.data;
          // console.log(response.data);          
          this.getNotifications();
        })
        .catch(e => {
          console.log(e);
        });
    },
    getRooms(){
      RoomDataService.getAll()
        .then( res=> {
          this.rooms = res.data
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveReservations();
      this.currentReservation = null;
      this.currentIndex = -1;
    },

    setActiveReservation(reservation, index) {
      this.currentReservation = reservation;
      this.currentIndex = index;
    },

    removeAllReservations() {
      ReservationDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
          this.getRooms();
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchTitle() {
      ReservationDataService.findByName(this.title)
        .then(response => {
          this.reservations = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveReservations();
    this.getRooms();  

  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
