<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">ACME INC</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/" class="nav-link">List</router-link>
        </li>
        <!-- <li class="nav-item">
          <router-link to="/add" class="nav-link">Add</router-link>
        </li> -->
        <li class="nav-item">
          <router-link to="/addReservation" class="nav-link">Add Reservation</router-link>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
    <notifications position="bottom right"/>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>
